.header {
  background: #4242ea;
}

.container {

  display: flex;
  grid-template-columns:1fr 2fr 2 fr;
  gap: 10px;
  gap:10px 240px;
}
.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}
.primary-content{
  display: grid;
  grid-template-columns: 250px 1fr;
}


.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
  height: 800px;
  width: 250px;
  float: left;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
  
}

  

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
